fastapi
uvicorn
sqlalchemy
psycopg2-binary>=2.9.7
alembic
pydantic
pydantic_settings
pydantic[email]
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-multipart
python-dotenv
openai
langchain
langgraph
langgraph-checkpoint-postgres
psycopg[binary]
asyncpg
pgvector>=0.2.4
requests
httpx
numpy
tiktoken
azure-search-documents
azure-core
numpy
mem0ai
